{% extends 'base.html' %}

{% block content %}

<div class="card">

    <div class="card-header">

        <h4>Judgment Reserved Cases</h4>

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-striped">

                <thead>

                    <tr>

                        <th>Date</th>

                        <th>Court</th>

                        <th>Serial</th>

                        <th>Case</th>

                        <th>Connected Matters</th>

                        <th>Remarks</th>
                        
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                    {% for case in cases %}

                    <tr>

                        <td>{{ case.listing_date }}</td>

                        <td>{{ case.court_no }}</td>

                        <td>{{ case.serial_no }}</td>

                        <td>{{ case.case_no }}</td>

                        <td style="white-space: pre-line;">
                            {{ case.connected_cases }}
                        </td>

                        <td>{{ case.remarks }}</td>
                        
                        <td>

    <a href="/mark-jr-received/{{ case.id }}"
       class="btn btn-success btn-sm">

       Mark Received

    </a>

</td>
                        
                        

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}
